{% extends "/admin/" + get_config('admin_theme') + "/main/layout.html" %}
{% block content %}

<div class="row">
  <!-- Host Detail, Modify -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <b>Detail</b>
        </h3>
      </div>
      {% if subcategory != None %}
      <!-- Sub Categories -->
      <form method="POST" action="/admin/categories/sub/{{subcategory.idx}}">
      {% else %}
      <!-- Categories -->
      <form method="POST" action="/admin/categories/{{category.idx}}">
      {% endif %}
        <div class="card-body">
          {% if subcategory != None %}
          <!-- Parent Categories -->
          <div class="form-group">
            <label>Parent Category</label>
            <select class="form-control selectpicker" data-style="btn btn-link" name="category_idx">
              {% for c in categories %}
              <option value="{{c.idx}}" {% if c.idx == subcategory.category_idx %} selected {% endif %}>{{c.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Sub category name" autocomplete="off" value="{{subcategory.name}}"required>
          </div>

          {% else %}
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Category name" autocomplete="off" value="{{category.name}}"required>
          </div>
          {% endif %}

          <div class="form-group">
            <div class="custom-control custom-checkbox d-inline ml-2">
              {% if subcategory != None %}
              <input class="custom-control-input custom-control-input-warning" type="checkbox" value="" name="hidden" {% if subcategory.hidden == True %}checked{% endif %}>
              {% else %}
              <input class="custom-control-input custom-control-input-warning" type="checkbox" value="" name="hidden" {% if category.hidden == True %}checked{% endif %}>
              {% endif %}
              <label class="custom-control-label">Hidden</label>
            </div>
          </div>
        </div>

        <div class="card-footer justify-content-between">
          <button type="reset"  class="btn btn-outline-secondary">Reset</button>
          <button type="submit" class="btn btn-outline-warning float-right">Modify</button>
        </div>
      </form>
    </div>
  </div>
  <!-- ./ -->

  <!-- Host Delete -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <b>Delete</b>
        </h3>
      </div>
      <form method="POST" action="/admin/categories/del/{{category.idx}}">
        <div class="card-body">
          <p>Are your sure to delete this category?</p>
          <div class="form-group">
            {% if subcategory != None %}
            <input type="hidden" class="form-control" name="subcategory" value="{{subcategory.idx}}" autocomplete="off" required>
            <input type="text" class="form-control" name="name" placeholder="{{subcategory.name}}" autocomplete="off" required>
            {% else %}
            <input type="text" class="form-control" name="name" placeholder="{{category.name}}" autocomplete="off" required>
            {% endif %}
          </div>
        </div>
        <div class="card-footer justify-content-between">
          <button type="reset"  class="btn btn-outline-secondary">Reset</button>
          <button type="submit" class="btn btn-outline-danger float-right">Delete</button>
        </div>
      </form>
    </div>
  </div>
  <!-- ./ -->
</div>

{% endblock %}