{% extends "/admin/" + get_config('admin_theme') + "/main/layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form method="POST" action="/admin/posts/add">
      <div class="card card-warning card-outline">
        <div class="card-header">
          <div class="row">
            <div class="mb-3 col-md-2 markdown-category">
              <select class="form-control select2 select2-warning" data-dropdown-css-class="select2-warning" name="category_idxs">
              {% if get_all_categories() | length == 0 %}
                <option value="">No categories...</option>
              {% else %}
              {% for c in get_all_categories() %}
                {% if c.category_idx == None %}
                <option value="{{c.category_idx}}:">{{c.name}}</option>
                {% else %}
                <option value="{{c.category_idx}}:{{c.sub_category_idx}}">- {{c.name}}</option>
                {% endif %}
              {% endfor %}
              {% endif %}
              </select>
            </div>
            <div class="col-md-12">
              <input type="text" class="markdown-title form-control" name="title" value="" placeholder="Title" autocomplete="off" required>
            </div>
            <div class="col-md-12">
              <input type="text" class="tagin" name="tags" value="" autocomplete="off" data-separator=" " required>
            </div>
            <div class="col-md-12">
              <input type="text" class="markdown-abstract form-control" name="abstract" value="" placeholder="Abstract (Optional)" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="card-body markdown-editor">
          <textarea name="body" id="editor" class="markdown-editor"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}