{% extends "/admin/" + get_config('admin_theme') + "/main/layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form method="POST" action="/admin/posts/add">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="mb-3 col-md-2 markdown-category">
              <select class="form-control" name="category_idx">
                {% if get_categories() | length == 0 %}
                <option value="">No categories...</option>
                {% else %}
                {% for category in get_categories() %}
                <option value="{{category.idx}}">{{category.name}}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="col-md-12">
              <input type="text" class="markdown-title form-control" name="title" value="" placeholder="Title" autocomplete="off">
            </div>
            <div class="col-md-12">
              <input type="text" class="markdown-abstract form-control" name="abstract" value="" placeholder="Abstract (Optional)" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="card-body">
          <textarea name="body" id="editor"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}