<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{get_config("title_tag")}}</title>


    <!-- Favicons -->
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='img/dokkaebi.png')}}" rel="apple=touch-icon" sizes="76x76">
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='img/dokkaebi.png')}}" rel="icon" type="image/png">

    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='css/bootstrap.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='css/sidebars.css')}}" rel="stylesheet" media="screen">

    <!-- Bootstrap Icon CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </head>
  <body class="bg-dark text-white h-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
      <div class="container">
        <a class="navbar-brand me-auto d-flex align-items-center" href="/">
          <img src="{{url_for('main.image', img='dokkaebi_yelling.gif')}}" style="width: 50%" class="mx-auto">
        </a>
  
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <!-- Search -->
            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search" disabled>
            </form> -->
            <!-- ./Search -->
          </ul>
        
          <div class="text-end">
            {% if authed() %}
            <a href="/sign/out" class="btn btn-outline-light me-2">Sign-Out</a>
            {% else%}
            <a href="/sign" class="btn btn-outline-light me-2">Sign</a>
            {% endif %}

            {% if is_admin() %}
            <a href="/admin" class="btn btn-outline-warning me-2">Admin</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- ./Navbar -->

    <div class="container">
      <main>
        {% block main %}
        {% endblock %}
      </main>

      {% include "/front/" + get_config('front_theme') + "/main/footer.html" %}  

    </div>

    {% include "/front/" + get_config('front_theme') + "/main/js.html" %}
    {% include "/front/" + get_config('front_theme') + "/main/bootstrap_notify.html" %}

  </body>
</html>