<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{get_config("title_tag")}}</title>

    <!-- Favicons -->
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='img/dokkaebi.png')}}" rel="apple=touch-icon" sizes="76x76">
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='img/dokkaebi.png')}}" rel="icon" type="image/png">

    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='css/bootstrap.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='css/sidebars.css')}}" rel="stylesheet" media="screen">

    <!-- Vanilla JS Tags (Tagin) -->
    <link rel="stylesheet" href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='plugins/vanilla-tagin/css/tagin.css')}}">

    <!-- Code Highlight -->
    <link rel="stylesheet" href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='plugins/highlight.js/css/lioshi.css')}}" media="screen">

    <!-- Bootstrap Icon CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </head>
  <body class="bg-dark text-white h-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
      <div class="container max-width-control">
        <a class="navbar-brand me-auto d-flex align-items-center" href="/">
          <img src="{{url_for('main.image', img='dokkaebi_yelling.gif')}}" style="width: 50%" class="mx-auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item text-center">
              <a class="nav-link {% if current_endpoint() in ['main.index'] %}active{% endif %}" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link {% if current_endpoint() in ['main.about'] %}active{% endif %}" href="/about">About</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link {% if current_endpoint() in ['main.posts'] %}active{% endif %}" href="/posts">Posts</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link {% if current_endpoint() in ['main.categories'] %}active{% endif %}" href="/categories">Categories</a>
            </li>
          </ul>
        
          <div class="text-center">
            {% if get_config("facebook_open") %}
            <a {% if get_config('facebook') != None %}href="{{get_config('facebook')}}" target="_blank" {% else %} href="#" {% endif %} class="text-white fs-5 me-2">
              <i class="bi bi-facebook"></i>
            </a>
            {% endif %}
            {% if get_config("twitter_open") %}
            <a {% if get_config('twitter') != None %}href="{{get_config('twitter')}}" target="_blank" {% else %} href="#" {% endif %} class="text-white fs-5 me-2">
              <i class="bi bi-twitter"></i>
            </a>
            {% endif %}
            {% if get_config("instagram_open") %}
            <a {% if get_config('instagram') != None %}href="{{get_config('instagram')}}" target="_blank" {% else %} href="#" {% endif %} class="text-white fs-5 me-2">
              <i class="bi bi-instagram"></i>
            </a>
            {% endif %}
            {% if get_config("youtube_open") %}
            <a {% if get_config('youtube') != None %}href="{{get_config('youtube')}}" target="_blank" {% else %} href="#" {% endif %} class="text-white fs-5 me-2">
              <i class="bi bi-youtube"></i>
            </a>
            {% endif %}
            {% if get_config("github_open") %}
            <a {% if get_config('github') != None %}href="{{get_config('github')}}" target="_blank" {% else %} href="#" {% endif %} class="text-white fs-5 me-2">
              <i class="bi bi-github"></i>
            </a>
            {% endif %}


            {% if authed() %}
            <a href="/sign/out" class="btn btn-outline-light me-2">Sign-Out</a>
            {% else%}
            <a href="/sign" class="btn btn-outline-light me-2">Sign</a>
            {% endif %}

            {% if is_admin() %}
            <a href="/admin" class="btn btn-outline-warning me-2">Admin</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- ./Navbar -->

    <div class="container max-width-control">
      <main>
        {% block main %}
        {% endblock %}
      </main>

      {% include "/front/" + get_config('front_theme') + "/main/footer.html" %}  

    </div>

    {% include "/front/" + get_config('front_theme') + "/main/js.html" %}
    {% include "/front/" + get_config('front_theme') + "/main/bootstrap_notify.html" %}

  </body>
  <!--
    Author : kkamikoon
    Github : https://github.com/kkamikoon/ownblog
   -->
</html>