<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{get_config("title_tag")}}</title>

    <!-- Favicons -->
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='img/dokkaebi.png')}}" rel="apple=touch-icon" sizes="76x76">
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='img/dokkaebi.png')}}" rel="icon" type="image/png">

    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='css/bootstrap.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='css/sidebars.css')}}" rel="stylesheet" media="screen">

    <!-- Vanilla JS Tags (Tagin) -->
    <link rel="stylesheet" href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='plugins/vanilla-tagin/css/tagin.css')}}">

    <!-- Code Highlight -->
    <link rel="stylesheet" href="{{url_for('main.themes', theme='front', vendor=get_config('front_theme'), path='plugins/highlight.js/css/lioshi.css')}}" media="screen">

    <!-- Bootstrap Icon CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </head>
  <body class="bg-dark text-white h-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
      <div class="container max-width-control">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="nav-menu">        
          <div class="text-center">
          </div>
        </div>
      </div>
    </nav>
    <!-- ./Navbar -->

    <div class="container max-width-control">
      <main>
        {% block handler %}
        {% endblock %}
      </main>

      {% include "/front/" + get_config('front_theme') + "/main/footer.html" %}  

    </div>

  </body>
  <!--
    Author : kkamikoon
    Github : https://github.com/kkamikoon/ownblog
   -->
</html>