{% extends "/admin/" + get_config('admin_theme') + "/main/layout.html" %}
{% block content %}

<form action="/admin/configs" method="POST">
  <div class="card card-warning card-outline card-tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#web-tab" aria-selected="true">WEB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#user-tab" aria-selected="false">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#domain-tab" aria-selected="false">Domain</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <!-- Web Tab Config -->
        <div class="tab-pane fade show active" id="web-tab">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Title(&lt;title&gt;)
                </label>
                <input type="text" class="form-control" name="title_tag" value="KKAMIKOON - Blog" placeholder="Enter your title tag">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Main
                </label>
                <input type="text" class="form-control" name="intro" value="KKAMIKOON" placeholder="Enter Main Title">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Front Theme
                </label>
                <select class="form-control" name="front_theme">
                  <option value="kkami">kkami</option>
                  <option value="slate">slate</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Admin Theme
                </label>
                <select class="form-control" name="admin_theme">
                  <option value="{{get_config('admin_theme')}}"selected >{{get_config('admin_theme')}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  reCaptcha Site Key
                </label>
                <input type="text" class="form-control" name="recaptcha_site_key" value="" placeholder="Get your site key : https://www.google.com/recaptcha/about/">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  reCaptcha Secret Key
                </label>
                <input type="text" class="form-control" name="recaptcha_secret_key" value="" placeholder="Get your secret key : https://www.google.com/recaptcha/about/">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  reCaptcha On/Off
                </label>
                <select class="form-control" name="recaptcha_status">
                  <option value="0" {% if get_config('recaptcha_status') == 0 %} selected {% endif %}>False</option>
                  <option value="1" {% if get_config('recaptcha_status') == 1 %} selected {% endif %}>True</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- ./ -->

        <!-- Users Config -->
        <div class="tab-pane fade show" id="user-tab">
          <div class="row">
            <!-- Default User Authentication -->
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  User Default Verified
                </label>
                <select class="form-control" name="user_default_verified">
                  <option value="0" {% if get_config('user_default_verified') == 0 %} selected {% endif %}>False</option>
                  <option value="1" {% if get_config('user_default_verified') == 1 %} selected {% endif %}>True</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  User Default Banned
                </label>
                <select class="form-control" name="user_default_banned">
                  <option value="0" {% if get_config('user_default_banned') == 0 %} selected {% endif %}>False</option>
                  <option value="1" {% if get_config('user_default_banned') == 1 %} selected {% endif %}>True</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  User Default Hidden
                </label>
                <select class="form-control" name="user_default_hidden">
                  <option value="0" {% if get_config('user_default_hidden') == 0 %} selected {% endif %}>False</option>
                  <option value="1" {% if get_config('user_default_hidden') == 1 %} selected {% endif %}>True</option>
                </select>
              </div>
            </div>
            <!-- ./ -->

            <!-- Default User Attach Type -->
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  User Attach Type
                </label>
                <input type="text" class="form-control" name="user_attach_type" value="User" placeholder="Enter your attach type.">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  User Attach Description
                </label>
                <input type="text" class="form-control" name="user_attach_description" value="This is just attachment type of default user. This string is just tag but nothing." placeholder="Enter your attach description.">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  Attachment Hidden
                </label>
                <select class="form-control" name="user_attach_hidden">
                  <option value="0" {% if get_config('user_attach_hidden') == 0 %} selected {% endif %}>False</option>
                  <option value="1" {% if get_config('user_attach_hidden') == 1 %} selected {% endif %}>True</option>
                </select>
              </div>
            </div>
            <!-- ./ -->
          </div>
        </div>
        <!-- ./ -->

        <!-- Domain Config -->
        <div class="tab-pane fade" id="domain-tab">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Domain
                </label>
                <input type="text" class="form-control" name="domain" value="example.com" placeholder="Enter your domain it you have.">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Domain Check
                </label>
                <select class="form-control" name="domain_check">
                  <option value="0" {% if get_config('domain_check') == 0 %} selected {% endif %}>False</option>
                  <option value="1" {% if get_config('domain_check') == 1 %} selected {% endif %}>True</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p>
              <u>
                <em>
                  Note : If you check the domain 'True', You can only access here using your 'Domain'.
                </em>
              </u>
            </p>
          </div>
        </div>
        <!-- ./ -->
        
      </div>
    </div>
    <!-- /.card -->
    <div class="card-footer">
      <button type="reset" class="btn btn-default">
        <b>Reset</b>
      </button>
      <button type="submit" class="btn btn-warning float-right">
        <b>Submit</b>
      </button>
    </div>
  </div>
</form>

{% endblock %}
