{% extends "/admin/" + get_config('admin_theme') + "/main/layout.html" %}
{% block content %}

<div class="row">
  <!-- Web, About configs -->
  <div class="col-md-4">
    <!-- Web config -->
    <form action="/admin/configs/web" method="POST">
      <div class="card card-warning card-outline">
        <div class="card-header">
          <h2 class="card-title">WEB - Configs</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Title(&lt;title&gt;)
                </label>
                <input type="text" class="form-control" name="title_tag" value="KKAMIKOON - Blog" placeholder="Enter your title tag">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Main
                </label>
                <input type="text" class="form-control" name="intro" value="KKAMIKOON" placeholder="Enter Main Title">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Front Theme
                </label>
                <select class="form-control" name="front_theme">
                  <!-- Theme directory list(default : front) -->
                  {% for theme in get_themes() %}
                  <option value="{{theme}}" {% if get_config('front_theme') == theme %}selected{% endif %}>{{theme}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  Admin Theme
                </label>
                <select class="form-control" name="admin_theme">
                  <!-- Theme directory list -->
                  {% for theme in get_themes('admin') %}
                  <option value="{{theme}}" {% if get_config('admin_theme') == theme %}>{{theme}}{% endif %}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>
                  reCaptcha Site Key
                </label>
                <input type="text" class="form-control" name="recaptcha_site_key" value="" placeholder="Get your site key : https://www.google.com/recaptcha/about/">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>
                  reCaptcha Secret Key
                </label>
                <input type="text" class="form-control" name="recaptcha_secret_key" value="" placeholder="Get your secret key : https://www.google.com/recaptcha/about/">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>
                  reCaptcha On/Off
                </label>
                <select class="form-control" name="recaptcha_status">
                  <option value="0" {% if get_config('recaptcha_status') == 0 %} selected {% endif %}>False</option>
                  <option value="1" {% if get_config('recaptcha_status') == 1 %} selected {% endif %}>True</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>
                  About Post
                </label>
                <select class="form-control" name="about_post_idx">
                  <option value="">Select post on `About`</option>
                  {% for post in posts %}
                  <option value="{{post.idx}}" {% if get_config('about_post_idx') == post.idx %} selected {% endif %}>{{post.title}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>
                  Post Page Size
                </label>
                <input type="text" class="form-control" name="post_page_size" value="{% if get_config('post_page_size') %}{{get_config('post_page_size')}}{% endif %}" placeholder="Default page size : 10" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-default">
            <b>Reset</b>
          </button>
          <button type="submit" class="btn btn-warning float-right">
            <b>Submit</b>
          </button>
        </div>
      </div>  
    </form>
  </div>
  <!-- ./ -->

  <!-- Users, Domain configs -->
  <div class="col-md-4">
    <form action="/admin/configs/users" method="POST">
      <div class="card card-success card-outline">
        <div class="card-header">
          <h2 class="card-title">Users - Configs</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Default User Authentication -->
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  Default Verified
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('user_default_verified') == True %}success{% else %}secondary{% endif %}" onclick="javascript:user_default('verified');" id="user_default_verified">{% if get_config('user_default_verified') == True %}Verified{% else %}Deny{% endif %}</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  Default Banned
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('user_default_banned') == True %}success{% else %}secondary{% endif %}" onclick="javascript:user_default('banned');" id="user_default_banned">{% if get_config('user_default_banned') == True %}Banned{% else %}Deny{% endif %}</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  Default Hidden
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('user_default_hidden') == True %}success{% else %}secondary{% endif %}" onclick="javascript:user_default('hidden');" id="user_default_hidden">{% if get_config('user_default_hidden') == True %}Hidden{% else %}Deny{% endif %}</button>
              </div>
            </div>
            <!-- ./ -->
    
            <!-- Default User Attach Type -->
            <div class="col-md-8">
              <div class="form-group">
                <label>
                  User Attach Type
                </label>
                <select class="form-control" name="user_default_attach">
                  {% for attach in attaches %}
                  <option value="{{attach.idx}}" {% if get_config('user_default_attach') == 0 %} selected {% endif %}>{{attach.type}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  Attach Hidden
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('user_default_attach') == False %}success{% else %}secondary{% endif %}" onclick="javascript:user_default('attach');" id="user_default_attach">{% if get_config('user_default_attach') == False %}Show{% else %}Hidden{% endif %}</button>
              </div>
            </div>
            <!-- ./ -->
          </div>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-default">
            <b>Reset</b>
          </button>
          <button type="submit" class="btn btn-warning float-right">
            <b>Submit</b>
          </button>
        </div>
      </div>
    </form>
    <!-- ./ -->

    <!-- Domain config -->
    <form action="/admin/configs/domain" method="POST">
      <div class="card card-info card-outline">
        <div class="card-header">
          <h2 class="card-title">Domain - Configs</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label>
                  Domain
                </label>
                <input type="text" class="form-control" name="domain" value="{% if get_config('domain') != None %}{{get_config('domain')}}{% endif %}" placeholder="example.com">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  Domain Check
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('domain_check') == True %}success{% else %}secondary{% endif %}" onclick="javascript:domain_checking();" id="domain_check">{% if get_config('domain_check') == True %}Checked{% else %}Unchecked{% endif %}</button>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p>
              <u>
                <em>
                  Note : If you check the domain 'True', You can only access here using your 'Domain'.
                </em>
              </u>
            </p>
          </div>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-default">
            <b>Reset</b>
          </button>
          <button type="submit" class="btn btn-warning float-right">
            <b>Submit</b>
          </button>
        </div>
      </div>  
    </form>
    <!-- ./ -->
  </div>

  <!-- SNS configs -->
  <div class="col-md-4">
    <!-- SNS config -->
    <form action="/admin/configs/sns" method="POST">
      <div class="card card-secondary card-outline">
        <div class="card-header">
          <h2 class="card-title">SNS - Configs</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Facebook -->
            <div class="col-md-9">
              <div class="form-group">
                <label>
                  <i class="fab fa-facebook"></i> Facebook
                </label>
                <input type="text" class="form-control" name="facebook" value="{% if get_config('facebook') != None %}{{get_config('facebook')}}{% endif %}" placeholder="https://fb.com/goldstar.hack">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  Open / Hide
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('facebook_open') == True %}success{% else %}secondary{% endif %}" onclick="javascript:sns_status('facebook');" id="facebook_open">{% if get_config('facebook_open') == True %}Open{% else %}Hide{% endif %}</button>
              </div>
            </div>
            <!-- ./ -->
            <!-- Twitter -->
            <div class="col-md-9">
              <div class="form-group">
                <label>
                  <i class="fab fa-twitter"></i> Twitter
                </label>
                <input type="text" class="form-control" name="twitter" value="{% if get_config('twitter') != None %}{{get_config('twitter')}}{% endif %}" placeholder="Your twitter">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  Open / Hide
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('twitter_open') == True %}success{% else %}secondary{% endif %}" onclick="javascript:sns_status('twitter');" id="twitter_open">{% if get_config('twitter_open') == True %}Open{% else %}Hide{% endif %}</button>
              </div>
            </div>
            <!-- ./ -->
            <!-- Instagram -->
            <div class="col-md-9">
              <div class="form-group">
                <label>
                  <i class="fab fa-instagram"></i> Instagram
                </label>
                <input type="text" class="form-control" name="instagram" value="{% if get_config('instagram') != None %}{{get_config('instagram')}}{% endif %}" placeholder="https://www.instagram.com/js.yell.owl/">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  Open / Hide
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('instagram_open') == True %}success{% else %}secondary{% endif %}" onclick="javascript:sns_status('instagram');" id="instagram_open">{% if get_config('instagram_open') == True %}Open{% else %}Hide{% endif %}</button>
              </div>
            </div>
            <!-- ./ -->
            <!-- Youtube -->
            <div class="col-md-9">
              <div class="form-group">
                <label>
                  <i class="fab fa-youtube"></i> Youtube
                </label>
                <input type="text" class="form-control" name="youtube" value="{% if get_config('youtube') != None %}{{get_config('youtube')}}{% endif %}" placeholder="Your youtube">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  Open / Hide
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('youtube_open') == True %}success{% else %}secondary{% endif %}" onclick="javascript:sns_status('youtube');" id="youtube_open">{% if get_config('youtube_open') == True %}Open{% else %}Hide{% endif %}</button>
              </div>
            </div>
            <!-- ./ -->
            <!-- Github -->
            <div class="col-md-9">
              <div class="form-group">
                <label>
                  <i class="fab fa-github"></i> Github
                </label>
                <input type="text" class="form-control" name="github" value="{% if get_config('github') != None %}{{get_config('github')}}{% endif %}" placeholder="https://github.com/kkamikoon/ownblog">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  Open / Hide
                </label>
                <button type="button" class="btn btn-block btn-outline-{% if get_config('github_open') == True %}success{% else %}secondary{% endif %}" onclick="javascript:sns_status('github');" id="github_open">{% if get_config('github_open') == True %}Open{% else %}Hide{% endif %}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-default">
            <b>Reset</b>
          </button>
          <button type="submit" class="btn btn-warning float-right">
            <b>Submit</b>
          </button>
        </div>
      </div>  
    </form>
    <!-- ./ -->
  </div>
</div>

{% endblock %}
