{% extends '/front/' + get_config('front_theme') + '/main/layout.html' %}
{% block main %}

<div class="bg-dark text-secondary py-3 text-center">
  <h3 class="fw-bold text-white">
    {% if current_endpoint() == "main.category_select" %}
    Category : {{name}}
    {% else %}
    Sub Category : {{name}}
    {% endif %}
  </h3>
</div>

<div class="row">
  <div class="p-5 mb-4 bg-dark col-md-12">
    {% for post in posts %}
    <div class="container-fluid py-3">
      <h3 class="display-8 fw-bold">
        <a href="/posts/{{post.idx}}">{{post.title}}</a>
      </h3>
      <p>
        {% for tag in get_tags(post.idx) %}
        <button type=button class="btn btn-outline-secondary btn-sm" onclick="javascript:select_tags('{{tag.name}}')">#{{tag.name}}</button>
        {% endfor %}
      </p>
    </div>
    {% endfor %}

    {% if counts > get_config('post_page_size') %}
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
          <a class="page-link" href="/posts?page=1" tabindex="-1" aria-disabled="true">&laquo;</a>
        </li>
        {% for i in range(counts) %}
        <li class="page-item {% if page == loop.index %}active{% endif %}">
          <a class="page-link" href="/posts?page={{loop.index}}">{{loop.index}}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if page == counts %} disabled {% endif %}">
          <a class="page-link" href="/posts?page={{counts}}">&raquo;</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
</div>

{% endblock %}